@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-blue-500; /* Aquí puedes usar las utilidades de Tailwind */
}
